*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-search {
    background: #eef7f9 url(https://doccure.dreamguystech.com/template/search-bg.png) no-repeat bottom center;
    min-height: 450px;
    background-size: 100% auto;
    position: relative;
    background-blend-mode: Darken;
    padding: 80px 0;
}
.banner-wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.banner-wrapper .banner-header {
    margin-bottom: 30px;
}
.banner-wrapper .banner-header h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
.banner-wrapper .banner-header p {
    color: #757575;
    font-size: 20px;
    margin-bottom: 0;
}
input#file_search:focus{
    outline: none;
    box-shadow: none;
}

/* service  */
.service-section {
    padding: 80px 0;
}
.sl-sectionHead {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: -7px 0 33px 0;
}
.sl-sectionHead__title {
    padding-bottom: 20px;
    position: relative;
}
.sl-below-line:after {
    content: '';
    position: absolute;
    top:70%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10%;
    height: 4px;
    border-radius: 3px 3px 0 0;
    background-color: #ffca28;
    
}

.sl-sectionHead__description {
    padding-top: 8px;
}

.sl-category__service {
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    height: 214px;
    /* border: 1px solid #ddd; */
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px #cfe0ea;
    border-radius: 4px;
    margin-bottom: 30px;
}
.sl-category__description {
    margin-top: 15px;
}
.sl-category__service:hover .sl-category__description {
    margin-bottom: 42px;
}
.sl-category__description {
    margin-top: 15px;
}
.sl-category__description h5 {
    line-height: 1.222222;
}
.sl-category__description span {
    font: 600 14px/1.428571 "Source Sans Pro", sans-serif;
    color: #767676;
}
.sl-category__icon {
    position: absolute;
    bottom: -30px;
    font-size: 20px;
    margin-top: 16px;
    color: #363636;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.sl-category__service img{
    width:70px;
    height: 70px;
    margin-top: 1.25rem;
}
.sl-category__service:hover {
    border-color: #ffca28;
}
.sl-category__service:hover img {
    transform: scale(0.7);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.sl-category__service:hover .sl-category__description {
    margin-bottom: 42px;
}
.sl-category__service:hover .sl-category__icon {
    bottom: 15px;
}
